.header {
    max-width: 1146px; /* максимальная ширина элемента */
    margin: auto; /* автоматическое выравнивание по середине */
}




.navbar{
    display: flex; /* гибкое поведение для элемнта.гибкий блок */
    align-items: center; /*выровнять относительно друг друга по вертикали по центру*/
    justify-content: space-between; /*раскидать элементы по краям*/
}