body {
    font-family: 'Roboto', sans-serif;/* подключение стилей ко всему body */
    font-size: 14px; /* размер шрифта */
    color:#0A143A;  /* цвет текста */
   
}
.header {
    max-width: 1146px; /* максимальная ширина элемента */
    margin: auto; /* автоматическое выравнивание по середине */
}
.navbar{
    display: flex; /* гибкое поведение для элемнта.гибкий блок */
    align-items: center; /*выровнять относительно друг друга по вертикали по центру*/
    justify-content: space-between; /*раскидать элементы по краям*/
}
/* меню навигации в шапке */
.navbar-menu { 
    margin-right: auto; /*автоматический отступ справа*/
}
.menu {
    list-style: none; /* отключаем дурацкие точки в списке меню */
    margin: 0; /* обнуляем отступы */
    padding-left: 22px; /* внутренний отступ слева */
    padding-right: 22px; /* внутренний отступ справа */
    display: flex; /* гибкое поведение для элемнта.гибкий блок  в данном случае распологает в строку*/
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child){
    margin-right: 14px; /* отступ справа 14 пикселей */
}
.menu-link {
    text-decoration: none;/* отключаем подчеркивание ссылок */
    color: inherit; /* возьми цвет текста как у родителя, тоесть как у body */    
}
.button {
    text-decoration: none;/* отключаем подчеркивание ссылок */
    display: inline-block; /* что бы кнопки могли нормально воспринимать отступы */
    padding-top: 10px; /* отступ в кнопке сверху относительно текста и границы кнопки*/
    padding-right: 15px; /* отступ в кнопке справа относительно текста и границы */
    padding-bottom: 10px;
    padding-left: 15px;
}
.button-link {
    color: inherit; /* возьми цвет текста как у родителя, тоесть как у body */  
}
.button-primary {
    background: #256EEB; /* фон кнопки */
    border-radius: 5px;  /* скругление углов кнопки */
    color: white; /* цвет текста в копке */
}