body {
    font-family: 'Roboto', sans-serif;/* подключение стилей ко всему body */
    font-size: 14px; /* размер шрифта */
    color:#0A143A;  /* цвет текста */
   
}
.header {
    max-width: 1146px; /* максимальная ширина элемента */
    margin: auto; /* автоматическое выравнивание по середине */
    padding-top: 30px; /* отступ сврху для всей шапки */
}
.navbar{
    display: flex; /* гибкое поведение для элемнта.гибкий блок */
    align-items: center; /*выровнять относительно друг друга по вертикали по центру*/
    justify-content: space-between; /*раскидать элементы по краям*/
    margin-bottom: 24px; /* отступ сверху от кнопки до поля с поиском */
}
/* меню навигации в шапке */
.navbar-menu { 
    margin-right: auto; /*автоматический отступ справа*/
}
.menu {
    list-style: none; /* отключаем дурацкие точки в списке меню */
    margin: 0; /* обнуляем отступы */
    padding-left: 22px; /* внутренний отступ слева */
    padding-right: 22px; /* внутренний отступ справа */
    display: flex; /* гибкое поведение для элемнта.гибкий блок  в данном случае распологает в строку*/
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child){
    margin-right: 14px; /* отступ справа 14 пикселей */
}
.menu-link {
    text-decoration: none;/* отключаем подчеркивание ссылок */
    color: inherit; /* возьми цвет текста как у родителя, тоесть как у body */    
}
.button {
    text-decoration: none;/* отключаем подчеркивание ссылок */
    display: inline-block; /* что бы кнопки могли нормально воспринимать отступы */
   
    /*padding-top: 10px;  отступ в кнопке сверху относительно текста и границы кнопки
    padding-right: 15px; отступ в кнопке справа относительно текста и границы 
    padding-bottom: 10px; отступ в кнопке снизу относительно текста и границы 
    padding-left: 15px; тступ в кнопке слева относительно текста и границы 
  ВСЕ ЭТО МОЖНО ЗАПИСАТЬ УДОБНЕЕ В ОДНУ СТРОКУ*/
    padding: 10px 15px; /* отступ сверху и снизу 10 пикселей, а по краям 15 */
    cursor: pointer; /* при навидении на кнопку мышка превращается в указатель с пальцем */
    }
    
.button-link {
    color: inherit; /* возьми цвет текста как у родителя, тоесть как у body */  
}
.button-primary {
    background: #256EEB; /* фон кнопки */
    border-radius: 5px;  /* скругление углов кнопки */
    color: white; /* цвет текста в копке */
}
.search-panel {
    height: 50px; /* ширина самого поля */
    background: #256EEB; /* цвет поля */
    border-radius: 5px; /* скругление рамок поля */
    display: flex; /* гибкое поведение элемента, растянуть на всю ширину*/
    padding: 3px; /* отступы от краев блока до поля*/
}
.search-input {
    flex-grow: 1; /* поле растягивается на все свободное место в блоке */
    background: #FFFFFF; /* цвет поля внутри синего поля */
    border-radius: 5px; /* радиус самого поля внутри синего поля/блока */
    border: none; /* удаление обводки которая идет по дефалту у инпута  */
    padding-left: 22px; /* отступ слева фразы поиск по объявлению внутри инпута  */
    padding-right: 22px; /* отступ справа фразы поиск по объявлению внутри инпута  */
}
.search-button {
    background: #256EEB;
    border: none; 
    color:white;
    padding-left: 17px;  /* отступ самой кнопки "найти". 17 потому что у нас уже есть отступ в 3 пикселя самого поля */
    padding-right: 20px; 
    display: flex;
    align-items: center; /* гибкость, для того что бы и лупа тоже была по центру */
}
.search-button-text {
    margin-left: 5px; /* отступ самоого текста "найти" от лупы */
}

